Source: com.github.elementary.debian-test-package
Section: devel
Priority: optional
Maintainer: Cody Garver <cody@elementaryos.org>
Build-Depends: debhelper
Standards-Version: 3.9.6
Homepage: http://elementaryos.org

Package: com.github.elementary.debian-test-package
Architecture: any
Depends: ${misc:Depends}
Description: empty test package
 An empty package.
